.container {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    transition: all 1s;
  }
  
  h1.moved {
    transform: translateY(-50px);
  }
  
  p {
    font-size: 20px;
    margin: 20px 0;
  }
  